<div class="container py-5 bg-body-tertiary border rounded-3 text-center">
  <h1 class="mb-4">Welcome to Your Agenda!</h1>
  <h3 class="py-2">Manage your contacts effectively</h3>

  <div class="pt-4 pb-3">
    <% if user_signed_in? %>
      <%= button_to "Create contact", 
        new_contact_path(@contact),
        method: :get, 
        class:"btn btn-success" %>

      <%= button_to "List of contacts",
        contacts_path,
        method: :get,
        class:"btn btn-success" %>
    <% end %>

    <%= button_to "About us",
      about_path,
      method: :get,
      class:"btn btn-info"%>
  </div>
</div>
