<div class="h-100 px-5 py-5 bg-body-tertiary border rounded-3 text-center">
  <h1>Welcome to the home page!</h1>
  <h3 class="py-2"> This page is a testground for rails </h3>

  <div class="pt-4 pb-3">
    <%= button_to "Create new contact", 
      new_contact_path(@contact),
      method: :get, 
      class:"btn btn-success" %>

    <%= button_to "Show all contacts",
      contacts_path,
      method: :get,
      class:"btn btn-success" %>

    <%= button_to "About us",
      about_path,
      method: :get,
      class:"btn btn-info"%>
  </div>
</div>
