<% content_for :title, "Editing contact" %>

  <div class="container px-5 py-4 bg-body-tertiary border rounded-3">

    <h1>Editing contact</h1>

    <%= render "form" , contact: @contact %>

  </div>
