<div class="h-100 px-5 pt-5 bg-body-tertiary border rounded-3">
  <h2 class="pb-2">Contact Info:</h2>

  <%= render @contact %>

  <div class="pt-4 pb-3">
    <%= button_to "Back to contacts",
      contacts_path,
    method: :get,
      class:"btn btn-primary btn-sm" %>

    <%= button_to "Edit this contact", 
      edit_contact_path(@contact),
      method: :get, 
      class:"btn btn-primary btn-sm" %>

    <%= button_to "Destroy this contact",
    @contact,
      method: :delete,
      class:"btn btn-danger btn-sm"%>
  </div>
</div>
