<div class="h-100 px-5 pt-5 bg-body-tertiary border rounded-3">
  <h2 class="pb-2">Contact Info:</h2>

  <%= render @contact %>

  <div class="pt-4 pb-3">
    <%= button_to "Edit", 
      edit_contact_path(@contact),
      method: :get, 
      class:"btn btn-primary" %>

    <%= button_to "Delete",
    @contact,
      method: :delete,
      class:"btn btn-danger"%>
  </div>
</div>
